<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">Mural de Avisos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="cursor: copy !important;">
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Adicionar aviso<span class="sr-only">(current)</span></a>
        </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let notice of notices" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-12 card-title align-self-center mb-0">
                        <h5>{{notice?.title}}</h5>
                        <p class="m-0"></p>
                    </div>
                    <div *ngIf="notice?.ableToView" class="col-12 card-title align-self-center mb-0 notice-description">
                      <p>Descrição: {{notice?.description}}</p>
                      <p class="m-0"></p>
                    </div>

                    <div *ngIf="notice?.ableToView" class="col-12 card-title align-self-center mb-0 notice-description">
                      <p>Data de publicação: {{notice?.formattedPublishDate}}</p>
                      <p class="m-0"></p>
                    </div>
                    <div *ngIf="notice?.ableToView" class="col-12 card-title align-self-center mb-0 notice-description">
                      <p>Última visualização: {{notice?.formattedViewDate}}</p>
                      <p class="m-0"></p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                      <a (click)="onToggleView(notice)" href="#" class="btn btn-primary tooltips" data-placement="top" data-original-title="View"><i class="fa fa-eye"></i> </a>
                      <a (click)="onOpenModal(notice, 'edit')" href="#" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                      <a (click)="onOpenModal(notice, 'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- add modal -->
<div class="modal fade" id="addNoticeModal" tabindex="-1" role="dialog" aria-labelledby="addNoticeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNoticeModal">Novo aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddNotice(addForm)">
          <div class="form-group">
            <label for="title" class="col-form-label">Título:</label>
            <input type="text" ngModel name="title" class="form-control" id="notice-title" required>
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Descrição:</label>
            <textarea ngModel name="description" class="form-control" id="notice-description" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-notice-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Salvar aviso</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- edit modal -->
<div class="modal fade" id="updateNoticeModal" tabindex="-1" role="dialog" aria-labelledby="updateNoticeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateNoticeModal">Alterar aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <input type="hidden" ngModel="{{editNotice?.id}}" name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="title" class="col-form-label">Título:</label>
            <input type="text" ngModel="{{editNotice?.title}}" name="title" class="form-control" id="notice-title" required>
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Descrição:</label>
            <textarea ngModel="{{editNotice?.description}}" name="description" class="form-control" id="notice-description" required></textarea>
          </div>
          <div class="form-group" hidden>
            <label for="publishDate" class="col-form-label">Data de publicação:</label>
            <input type="text" ngModel="{{editNotice?.publishDate}}" name="publishDate" class="form-control" id="notice-publishDate">
          </div>
          <div class="form-group" hidden>
            <label for="viewDate" class="col-form-label">Última visualização:</label>
            <input type="text" ngModel="{{editNotice?.viewDate}}" name="viewDate" class="form-control" id="notice-viewDate">
          </div>
          <div class="modal-footer">
            <button type="button" id="add-notice-form" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button (click)="onUpdateNotice(updateForm.value)" data-dismiss="modal" type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteNoticeModal" tabindex="-1" role="dialog" aria-labelledby="deleteNoticeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteNoticeModal">Remover aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza de que deseja remover esse item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <button data-dismiss="modal" (click)="onDeleteNotice(deleteNotice?.id)" type="button" class="btn btn-primary">Sim</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="notices.length <= 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Mural vazio!</h4>
    <p>Nenhum aviso no mural.</p>
  </div>
</div>
